body{
  margin: 0px;
  background-color: grey;
  color: rgb(224,217,217)
}

#app {
  font-weight: normal;
}

header{
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
  background-color: rgb(40, 41, 40);
  font-weight: bold;
  text-align: center;
}