body{
  margin: 0px;
  background-color: rgb(5, 5, 5);
  color: rgb(224,217,217)
}

#app {
  font-weight: normal;
}

header{
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
  background-color: rgb(40, 41, 40);
  font-weight: bold;
  text-align: center;
}

.componente {
    text-align: center;
    margin: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; 
}

.componente p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

button{
  background-color: black;
  color: white;
  margin: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-radius: 15px ;
  border: none;
}

button:hover{
  background-color: grey;
  opacity: 0.9;
  transition: all 0.3s ease;
  transform: scale(1.05);
  border-color: black;
  box-shadow: 0 4px 8px rgba(0, 0,0, 0.3);
  cursor: pointer;
}
